<!-- 
  数据绑定{{}}
  双向数据绑定[(ngModel)]
  条件渲染ngif
  列表渲染nffor
  服务 特定功能的封装
 -->
<!-- <div>{{title}}</div>
<div>{{count}}</div>
<button (click)="increment()">点击自增</button>
<app-foo>1</app-foo> -->
<section class="todoapp">
  <header class="header">
    <h1>todos</h1>
    <input class="new-todo" placeholder="What needs to be done?" autofocus (keyup.enter)="addTodo($event)">
  </header>
  <!-- ng-template要加[] -->
  <ng-template [ngIf]="todos.length">
    <!-- This section should be hidden by default and shown when there are todos -->
    <section class="main">
      <input id="toggle-all" class="toggle-all" type="checkbox" [checked]="toggleAll" (change)="toggleAll=!toggleAll">
      <label for="toggle-all">Mark all as complete</label>
      <ul class="todo-list">
        <!-- These are here just to show the structure of the list items -->
        <!-- List items should get the class `editing` when editing and `completed` when marked as completed -->
        <li class="completed" *ngFor="let todo of filterTodos"
          [ngClass]="{completed: todo.done,editing:currentEditing===todo}">
          <div class="view">
            <input class="toggle" type="checkbox" [(ngModel)]="todo.done">
            <label (dblclick)="currentEditing=todo">{{todo.title}}</label>
            <button class="destroy" (click)="remove(todo.id)"></button>
          </div>
          <input class="edit" [value]="todo.title" (blur)="saveTodo(todo,$event.target.value)"
            (keyup.enter)="saveTodo(todo,$event.target.value)" (keyup)="escEdit($event)">
          <!-- <input class="edit" [(ngModel)]="todo.title" (blur)="currentEditing=null" (keyup.enter)="currentEditing=null"> -->
        </li>
      </ul>
    </section>
    <!-- This footer should hidden by default and shown when there are todos -->
    <footer class="footer">
      <!-- This should be `0 items left` by default -->
      <span class="todo-count"><strong>{{undosLen}}</strong> item left</span>
      <!-- Remove this if you don't implement routing -->
      <ul class="filters">
        <li>
          <a href="#/" [ngClass]="{selected: visibility==='all'}">All</a>
        </li>
        <li>
          <a href="#/active" [ngClass]="{selected: visibility==='active'}">Active</a>
        </li>
        <li>
          <a href="#/completed" [ngClass]="{selected: visibility==='completed'}">Completed</a>
        </li>
      </ul>
      <!-- Hidden if no completed items are left ↓ -->
      <button class="clear-completed" (click)="clearAllDone()">Clear completed</button>
    </footer>
  </ng-template>

</section>
<footer class="info">
  <p>Double-click to edit a todo</p>
  <!-- Remove the below line ↓ -->
  <p>Template by <a href="http://sindresorhus.com">Sindre Sorhus</a></p>
  <!-- Change this out with your name and url ↓ -->
  <p>Created by <a href="http://todomvc.com">you</a></p>
  <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
</footer>
