var format = function (text) {
  if (!text) {
    return ''
  }
  var reg = getRegExp('\\\\n', 'g')
  return text.replace(reg, '\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;')
}
var limit = function (array, n) {
  return array.slice(0, n)
}
// wxs 不能用es6
module.exports = {
  format: format,
  limit: limit
}
