<div class="home">
  <app-wy-carousel #wyCarousel [activeIndex]="carouselActiveIndex" (changeSlide)="onChangeSlide($event)">
    <div class="carousel wrap">
      <nz-carousel nzAutoPlay nzEffect="fade" [nzDotRender]="wyCarousel.dotRef"
        (nzBeforeChange)="onNzBeforeChange($event)">
        <div class="carousel-item" nz-carousel-content *ngFor="let item of banners">
          <a [href]="item.url" class="banner-item" target="_blank">
            <img [src]="item.imageUrl" />
          </a>
        </div>
      </nz-carousel>
    </div>
  </app-wy-carousel>
  <div class="main">
    <div class="wrap">
      <div class="left">
        <div class="sec">
          <div class="up">
            <div class="navs">
              <h2><i></i><a href="">热门推荐</a></h2>
              <nav>
                <a *ngFor="let tag of hotTags">{{tag.name}}</a>
              </nav>
            </div>
            <a href="">更多<i nz-icon type="arrow-right" theme="outline"></i></a>
          </div>
          <div class="down">
            <div class="down-wrap">
              <app-single-sheet class="sheet-item" *ngFor="let item of songSheetList" [sheet]="item"></app-single-sheet>
            </div>
          </div>
        </div>
      </div>
      <div class="right"></div>`
    </div>
  </div>
</div>
